<div id="<%= dom_id member %>">
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= member.dob %>
  </p>

  <p>
    <strong>No of played games:</strong>
    <%= member.no_of_played_games %>
  </p>

  <p>
    <strong>Current rank:</strong>
    <%= member.current_rank %>
  </p>

</div>
